<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form class="form-group">
        <div class="row">
            <label>Diet duration <input type="number" class="form-control" id="diet-duration"
                                        ng-model="config.duration"></label>

        </div>
        <!-- disabling support for females initially due to poor research support
        <label>Female <input type="checkbox" class="form-control" id="female" ng-model="female"></label> -->
        <hr/>
        <div class="row">
            <h3>Tell us a bit about yourself</h3>
        </div>
        <MuscleGainInput/>
        <hr/>
        <BodyFatEstimationInput/>
        <hr/>
        <CalorieExpenditureInput/>
        <hr/>
        <label>Mass preservation coefficient <input type="range" value="1" step="0.1" min="0.5" max="1.5" step="0.1"
                                                    class="form-control" id="mass-preservation-coefficient"></label>
        <hr/>
        <div class="row">
            <p>In order to maintain a reasonable rate of fat loss as fat mass decreases, it is necessary to incorporate
                fasted cardiovascular training. The reason this is necessary is due to the fact that the rate lipolysis
                in fat cells is the limiting factor in the speed of weight loss at low bodyfat levels, and
                the lipolytic response to cardiovascular training is significantly blunted in the fed state.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exercise-calorie-expenditure">Fasted exercise calorie expenditure</label> <input
                        type="number" step="0.1" class="form-control"
                        id="exercise-calorie-expenditure"
                        ng-model="config.exerciseCalorieExpenditure">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="weekly-exercise-sessions">Weekly fasted exercise sessions</label> <input type="number"
                                                                                                         class="form-control"
                                                                                                         id="weekly-exercise-sessions">
                </div>
            </div>
        </div>
        <hr/>
        <RefeedInput/>
        <button>Compute</button>
    </form>

    <div class="row" ng-if="dietPlan">
        <line-plot plot-data="dietPlan | bodyWeightPlotPreprocessor"></line-plot>
        <uib-tabset justified="true">
            <uib-tab heading="Body weight">
                <line-plot plot-data="dietPlan | bodyWeightPlotPreprocessor"></line-plot>
            </uib-tab>
            <uib-tab heading="Percent body fat">
                <line-plot plot-data="dietPlan | bodyFatPercentPlotPreprocessor"></line-plot>
            </uib-tab>
            <uib-tab heading="Calorie intake and expenditure">
                <line-plot plot-data="dietPlan | caloriesInOutPlotPreprocessor"></line-plot>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</html>